body{
    overflow: hidden;
}
#root{
    margin: 5px;
    /* background-image: url('../space-bg.jpg'); */
    background-repeat:  no-repeat;
    height: 1000px;
}
.login-panel{
    margin: auto;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px;
}
.login-btn{width:100%;
    border-radius: 0;
    background: green;
    border-color: green;
    color: #fff;
}

.login-btn:hover{
    background: #fff;
    border-color: green;
    color: #000;
}

.guest-btn{width:100%;
    border-radius: 0;
    background: blue;
    border-color: blue;
    color: #fff;
}

.guest-btn:hover{
    background: #fff;
    border-color: blue;
    color: #000;
}
.center{
    margin: 10px auto;
    position: fixed;
    left: 0;
    right: 0;
}


.planet-list{
    margin-top: 48px;
}
.planet-list>.list-group{
    max-height: 500px;
    overflow-y: auto;
}
.fa-globe{
    float: right;
}
.fa-sign-out{
    font-size: 26px;
    float: right;
    cursor: pointer;
}
.userinfo{
    height: 30px;
    background-color: #ccc;
}
.modal-class{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    z-index: 99999;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.planet-info-key{
    text-transform: capitalize;
}
.planet-info-value{
    float: right;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pagination>li>a{
  position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination{
  float: right;
}
.searching-yes{
  opacity: 0.4;
  pointer-events: none;
}
.searching-no{
  opacity: 1;
}